language: node_js
node_js:
  - 6
  - 5
  - 4
  - "0.12"
  - "0.11"
after_script: ./node_modules/.bin/istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly ./spec/**/*_spec.js -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
